<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<dllmap dll="SDL2" os="windows" target="SDL2.dll"/>
	<dllmap dll="SDL2_gfx" os="windows" target="SDL2_gfx.dll" />
	<dllmap dll="SDL2_image" os="windows" target="SDL2_image.dll" />
	<dllmap dll="SDL2_mixer" os="windows" target="SDL2_mixer.dll" />
	<dllmap dll="SDL2_ttf" os="windows" target="SDL2_ttf.dll" />
</configuration>
